.admin-action-button {
    display:block;
    float:left;
    padding:3px 12px;
    background:#999;
    font-weight:400;
    font-size:11px;
    text-transform:uppercase;
    letter-spacing:0.5px;
    color:#fff;
    border-radius:15px;
    border: none;
    line-height: 20px;
}

.admin-action-button:hover {
    background-color:#417690;
}