{% load static %}

<!DOCTYPE html>
<html lang="lt-lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mūsų Biudžetas</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href ='{% url "about" %}'>Apie projektą</a></li>
                <li><a href ='{% url "index" %}'><h1>Mūsų Biudžetas</h1></a></li>
                <li><a href ='/admin'>Prisijungti</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>