{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class='content-container index-page'>
        <article class="index-article">
            <h2>Kas yra Mūsų biudžetas?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta quisquam amet, 
                magni repellat voluptatem? Nobis aperiam iusto beatae praesentium esse autem saepe fugiat, 
                suscipit maxime illum? Dicta, quia consectetur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta quisquam amet, 
                magni repellat voluptatem? Nobis aperiam iusto beatae praesentium esse autem saepe fugiat, 
                suscipit maxime illum? Dicta, quia consectetur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta quisquam amet, 
                magni repellat voluptatem? Nobis aperiam iusto beatae praesentium esse autem saepe fugiat, 
                suscipit maxime illum? Dicta, quia consectetur!
            </p>
        
        </article>
        <a href='{% url "municipalities" %}' class="big-links">
            <span class="tot-budget">100000000 EUR</span>
            Savivaldybės
        </a>
        <a href='{% url "seimas" %}' class="big-links">
            <span class="tot-budget">5600000 EUR</span>
            Seimas
        </a>
        <a href='{% url "gov" %}' class="big-links">
            <span class="tot-budget">40000000 EUR</span>
            Vyriausybė
        </a>
        <a href='{% url "president" %}' class="big-links">
            <span class="tot-budget">10000000 EUR</span>
            Prezidentūra
        </a>
    </div>
</main>


{% endblock %}